
SourceFull/*.swp
SourceFull/*.*~
SourceFull/project.lock.json
SourceFull/.DS_Store
SourceFull/*.pyc

# Visual Studio Code
SourceFull/.vscode

# User-specific files
SourceFull/*.suo
SourceFull/*.user
SourceFull/*.userosscache
SourceFull/*.sln.docstates

# Build results
SourceFull/[Dd]ebug/
SourceFull/[Dd]ebugPublic/
SourceFull/[Rr]elease/
SourceFull/[Rr]eleases/
SourceFull/x64/
SourceFull/x86/
SourceFull/build/
SourceFull/bld/
SourceFull/[Bb]in/
SourceFull/[Oo]bj/
SourceFull/msbuild.log
SourceFull/msbuild.err
SourceFull/msbuild.wrn

# Visual Studio 2015
.vs/

SourceFull/SourceFullStoreDb/Migrations

# client
client/node_modules